In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./csv_files/All_companies_fixed.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 50, saw 3

In [8]:
df = pd.read_excel('./csv_files/All_companies_fixed.xlsx', header=1)

In [9]:
df

,Unnamed: 0,company_name,grant,Направление,revenue_2020 (тыс руб),revenue_2021 (тыс руб)
0,0,"РТК РАДИОЛОГИЯ""",70482009,Разработка,883816.0,614733.0
1,1,"ИНЖЕНЕРНО-ТЕХНИЧЕСКИЙ ЦЕНТР ""ДЖЭТ""",33899845,Разработка,246080.0,1096019.0
2,2,"СМАРТ РИТЕЙЛ""",90082728,Разработка,12566.0,11339.0
3,3,"ЭТТОН-ЦЕНТР""",28764000,Разработка,103875.0,82848.0
4,4,"БФГ ГРУПП""",50140984,Разработка,35495.0,113991.0
...,...,...,...,...,...,...
468,468,ТАНЕКО,54144106,Внедрение новых цифровых технологий,49112286.0,91151391.0
469,469,МОСТОСТРОЙ,116976685,Внедрение новых цифровых технологий,4777.0,4894.0
470,470,Акционерное общество «Апатит»,48000000,Внедрение новых цифровых технологий,214124018.0,361641400.0
471,471,Акционерное общество «ОЭЗ ППТ «Алабуга»,20301397,Внедрение новых цифровых технологий,1577602.0,2484525.0
472,472,АО «СЕТЕВАЯ КОМПАНИЯ АЛТАЙКРАЙЭНЕРГО»,20291143,Внедрение новых цифровых технологий,5815010.0,6401220.0

In [25]:
df

,Unnamed: 0,company_name,grant,Направление,revenue_2020 (тыс руб),revenue_2021 (тыс руб),revenue_upside,revenue_upside_%
0,0,"РТК РАДИОЛОГИЯ""",70482009,Разработка,883816.0,614733.0,0.695544,-30.0
1,1,"ИНЖЕНЕРНО-ТЕХНИЧЕСКИЙ ЦЕНТР ""ДЖЭТ""",33899845,Разработка,246080.0,1096019.0,4.453913,345.0
2,2,"СМАРТ РИТЕЙЛ""",90082728,Разработка,12566.0,11339.0,0.902356,-10.0
3,3,"ЭТТОН-ЦЕНТР""",28764000,Разработка,103875.0,82848.0,0.797574,-20.0
4,4,"БФГ ГРУПП""",50140984,Разработка,35495.0,113991.0,3.211466,221.0
...,...,...,...,...,...,...,...,...
468,468,ТАНЕКО,54144106,Внедрение новых цифровых технологий,49112286.0,91151391.0,1.855979,86.0
469,469,МОСТОСТРОЙ,116976685,Внедрение новых цифровых технологий,4777.0,4894.0,1.024492,2.0
470,470,Акционерное общество «Апатит»,48000000,Внедрение новых цифровых технологий,214124018.0,361641400.0,1.688934,69.0
471,471,Акционерное общество «ОЭЗ ППТ «Алабуга»,20301397,Внедрение новых цифровых технологий,1577602.0,2484525.0,1.574874,57.0
472,472,АО «СЕТЕВАЯ КОМПАНИЯ АЛТАЙКРАЙЭНЕРГО»,20291143,Внедрение новых цифровых технологий,5815010.0,6401220.0,1.100810,10.0

In [10]:
df['revenue_upside'] = df['revenue_2021 (тыс руб)'] / df['revenue_2020 (тыс руб)']

In [23]:
df['revenue_upside_%'] = df['revenue_upside'].apply(lambda x: round((x - 1)*100, 0))

In [24]:
df['revenue_upside_%']

0      -30.0
1      345.0
2      -10.0
3      -20.0
4      221.0
       ...
468     86.0
469      2.0
470     69.0
471     57.0
472     10.0
Name: revenue_upside_%, Length: 473, dtype: float64

In [56]:
df['revenue_total'] = df['revenue_2020 (тыс руб)'] + df['revenue_2021 (тыс руб)']

In [60]:
df['revenue_grant_ratio'] = df['revenue_total'] / df['grant']

In [29]:
df['Направление'].value_counts()

Разработка                             24
Стартап Разработка                     19
Внедрение                              17
Внедрение новых цифровых технологий     5
Name: Направление, dtype: int64

In [63]:
import numpy as np

In [64]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [65]:
df.dropna(subset=['revenue_upside']).groupby('Направление')['revenue_upside'].mean()

Направление
Внедрение                              0.990297
Внедрение новых цифровых технологий    1.449018
Разработка                             1.649671
Name: revenue_upside, dtype: float64

In [49]:
df[df['Направление'] == 'Разработка']['revenue_upside_%'].min()

-30.0